# Copy this file to .env and fill in your real values

# MongoDB Connection 
mongodb+srv://faveeboka_db_user:nuH6WAFU3U2ejAae@cluster0.lrwfkgm.mongodb.net/?appName=Cluster0

# JWT Secret (generate a random string)
mysuperstringsecretkey

# Flutterwave Keys
FLWPUBK-6974bc3eae62f7b03171fefd878f54d2-X
FLWSECK-ed863e92792f1b65be5b0bd6bbcb809c-19ec2723252vt-X
ed863e92792f91498382ec41

# Paystack Keys
PAYSTACK_SECRET_KEY=your_paystack_secret_key

# Server Port
PORT=5000